
/*Accommodations icons*/
div.sports{background:url('images/icons/deportivas.png');width:26px;height:26px;float:left}
div.airport_transfer{background:url('images/icons/aeropuertos.png');width:26px;height:26px;float:left}
